<html>
  <head>
    <meta charset="utf-8">
    <title>Vuejs tutorial</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
      <ul>
        <li v-for="ch in characters">
          {{ch}}
        </li>
      </ul>
      <ul>
        <li v-for="(nin, idx) in ninjas">
          {{idx}} : {{nin.name}} is {{nin.age}} years old 
        </li>
      </ul>
      <template v-for="(nin, idx) in ninjas">
        <h3>{{idx}}. {{nin.name}}</h3>
        <p>{{nin.age}}</p>
      </template>
      <template v-for="nin in ninjas">
        <div v-for="(val, key) in nin">
          <p>{{key}} - {{val}}</p>
        </div>
      </template>>
    </div>
    <script src="app.js"></script>
  </body>
</html>