#punch-bag {
  width: 500px;
  border: 1px solid #333;
  padding: 100px 20px;
  margin-bottom: 50px;
}
.boom {
  content: "boom";
  background-color: aqua;
}
#bag-health {
  width: 200px;
  border: 2px solid #000;
  margin: 0 auto 20px auto;
}
#bag-health div {
  height: 20px;
  background-color: crimson;
}
#vue-app .boom::after {
  content: "boom";
}